.social
            ul.list-unstyled.m-0
                li #[a(href="https://github.com") #[i.fa-brands.fa-github]]
                li #[a(href="https://twitter.com") #[i.fa-brands.fa-twitter]]
                li #[a(href="https://www.linkedin.com") #[i.fa-brands.fa-linkedin-in]]
                li #[a(href="https://www.youtube.com") #[i.fa-brands.fa-youtube]]
.text
              h3 name
              p any simple describtion